<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My movies - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mymovies.css') }}" />
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">

            <div class="navbar-menu">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-link" href="{{ url_for('home_page') }}">
                            <strong>Home</strong>
                        </a>
                        <a class="button is-link" href="{{ url_for('movies_page') }}">
                            <strong>List Movies</strong>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}


    <footer class="footer">
        <div class="content has-text-centered">
            <small>&copy; 2021, Efraim Ölçer & Oben Özgür</small>
        </div>
      </footer>
</body>

</html>