{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <section class="hero">
      <div class="hero-body">
    <h1 class="has-text-primary-dark"> <b>File Upload</b></h1>
    <br>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" accept="image/*"></p>
      <br>
      <p><input type="submit" value="Submit"></p>
    </form>
  </div>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </body>
{% endblock %}