<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My movies - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mymovies.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body class="is-dark">

    <header class="is-marginless">
        <nav class="navbar has-shadow is-dark is-marginless" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <a class="button is-info" href="{{ url_for('home_page') }}">
                            <strong>Home</strong>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="button is-info" href="{{ url_for('movies_page') }}">
                            <strong>Movies</strong>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="button is-info" href="{{ url_for('movie_add_page') }}">
                            <strong>Add Movie</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-info" href="{{ url_for('home_page') }}">
                        <strong>Users</strong>
                    </a>
                </div>
                <span class="navbar-item">
                    <a class="button is-info" href="{{ url_for('movie_add_page') }}">Add movie</a>
                </span>

                <div class="navbar-item">
                    <a class="button is-info" href="{{ url_for('home_page') }}">
                        <strong>Lists</strong>
                    </a>
                </div>
            </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}


    <footer class="footer is-dark">
        <div class="content has-text-centered">
            <small>&copy; 2021, Efraim Ölçer & Oben Özgür</small>
        </div>
    </footer>
</body>

</html>