<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mymovies.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body class=" is-marginless has-text-grey-dark" onload="myFunction()" style="margin:0;">

    <header class="is-marginless">
        <nav class="navbar has-shadow has-background-success" role="navigation" aria-label="main navigation">
            <a class="navbar-item" href="{{ url_for('home_page') }}">
                <img src="./static/comb.png" >
                <strong class="has-text-black">MovieComb</strong>
              </a>
            <div class="navbar-menu">
                <!--
                <div class="navbar-start">
                    <div class="navbar-item">
                        <a class="button is-primary is-light" href="{{ url_for('home_page') }}">
                            <strong>Home</strong>
                        </a>
                    </div>
                    
                </div>
                -->
            </div>
            <div class="navbar-end">
                {% if current_user.is_admin %}
                <div class="navbar-item">
                    <a class="button is-danger is-light" href="{{ url_for('add_movie_new_page') }}">
                        <strong>Add Movie</strong>
                    </a>
                </div>
                {% endif %}

                {% if current_user.is_admin %}
                <div class="navbar-item">
                    <a class="button is-danger is-light" href="{{ url_for('add_person_page') }}">
                        <strong>Add Person</strong>
                    </a>
                </div>
                {% endif %}

                {% if current_user.is_admin %}
                <div class="navbar-item">
                    <a class="button is-danger is-light" href="{{ url_for('add_casting_page') }}">
                        <strong>Add Casting</strong>
                    </a>
                </div>
                {% endif %}

                
                
                
                <div class="navbar-item">
                    <a class="button is-primary is-light" href="{{ url_for('users_page') }}">
                        <strong>Users</strong>
                    </a>
                </div>
               
                {% if not current_user.is_authenticated %}
                <div class="navbar-item">
                    <a class="button is-primary is-light" href="{{ url_for('login_page') }}"><strong>Log in</strong> </a>
                </div>
                {% else %}
                <div class="navbar-item">
                    <a class="button is-primary is-light" href="{{ url_for('profile_page', username=current_user.username) }}"><strong>{{ current_user.username }}</strong> </a>
                </div>
                
                <div class="navbar-item">
                    <a class="button is-primary is-light" href="{{ url_for('logout_page') }}"><strong>Log out</strong></a>
                </div>
                {% endif %}

                {% if not current_user.is_authenticated %}
                <div class="navbar-item">
                    <a class="button is-primary is-light" href="{{ url_for('signup_page') }}"><strong>Sign up</strong> </a>
                </div>
                {% endif %}
            </div>
            </div>
        </nav>
        {% for message in get_flashed_messages() %}
        <div class="notification is-info">{{ message }}</div>
        {% endfor %}
    </header>

    <div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">

    {% block content %}
    {% endblock %}


    <footer class="footer is-dark">
        <div class="content has-text-centered">
            <small>&copy; 2021, Oben Özgür</small>
        </div>
    </footer>
</body>

</div>

<script>
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 350);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>



</html>