{% extends "layout.html" %}
{% block title %}{{movie.original_title}}{% endblock %}
{% block content %}
{% if movie %}
<section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-info-dark">{{movie.original_title}}</h1>
        {% if current_user.is_admin %}
        <h2 class="subtitle has-text-danger"> Movie ID: {{movie.imdb_title_id}}</h2>
        {% endif %}
      </div>
    </div>
  </section>


<section class="section is-small">
    {% if movie.year %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Year</b>:</span> {{movie.year}}</h2>{% endif %}
    {% if movie.date_published %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Date</b>:</span> {{movie.date_published}}</h2>{% endif %}
    {% if movie.genre %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Genre</b>:</span> {{movie.genre}}</h2>{% endif %}
    {% if movie.duration %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Duration</b>:</span> {{movie.duration}} minutes</h2>{% endif %}
    {% if movie.country %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Country</b>:</span> {{movie.country}}</h2>{% endif %}
    {% if movie.language %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Languages</b>:</span> {{movie.language}}</h2>{% endif %}
    {% if movie.director %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Director</b>:</span> {{movie.director}}</h2>{% endif %}
    {% if movie.actors %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Actors</b>:</span> {{movie.actors}}</h2>{% endif %}
    {% if movie.description %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Description</b>:</span>{{movie.description}}</h2>{% endif %}
    {% if movie.avg_vote %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Average Vote</b>:</span> {{movie.avg_vote}}</h2>{% endif %}
    {% if movie.votes %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Votes</b>:</span> {{movie.votes}}</h2>{% endif %}
    <h2 class="subtitle">
      <a class="button is-primary is-dark" href="{{ url_for('casting_page', imdb_id = movie.imdb_title_id) }}">
          <strong>Casting Order</strong>
      </a>
    </h2>

    {% if current_user.is_authenticated %}
    <h2 class="subtitle">
      <a class="button is-link is-dark" href="{{ url_for('add_review_page', imdb_title_id = movie.imdb_title_id) }}">
          <strong>Add Review</strong>
      </a>
    </h2>
    {% endif %}

    {% if current_user.is_admin %}
    <h2 class="subtitle">
      <a class="button is-warning is-dark" href="{{ url_for('update_avg_vote_page', imdb_title_id = movie.imdb_title_id) }}">
          <strong>Update Average Vote</strong>
      </a>
    </h2>
    <h2 class="subtitle">
      <a class="button is-danger is-dark" href="{{ url_for('delete_movie_page', imdb_title_id = movie.imdb_title_id) }}">
          <strong>Delete Movie</strong>
      </a>
    </h2>
    {% endif %}

    
{% if reviews %}

<h1 class="title has-text-info-dark has-text-centered">Reviews</h1>

<div class="columns is-gapless is-multiline">

{% for review in reviews %}

<div class="column is-4">

<section class="section is-small">

<div class="card is-small has-background-success-light">
  <div class="card-image">
  </div>
  <br>
  <div class="card-content">
    <div class="media">
      <div class="media-content has-text-centered">
        <p class="title is-4">{{review.username}}</p>
      </div>
    </div>
  </div>

    <div class="content">
      {{review.review_content}}
      <br>
      <br>
    </div>
</div>

</section>

</div>




{% endfor %}

</div>
{% endif %}



</section>

{% endif %}
{% endblock %}