{% extends "layout.html" %}
{% block title %}{{person.name}}{% endblock %}
{% block content %}
{% if person %}
<section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title has-text-info-dark">{{person.name}}</h1>
        {% if current_user.is_admin %}
          <h2 class="subtitle has-text-danger"> Name ID: {{person.imdb_name_id}}</h2>
          {% endif %}
      </div>
    </div>
  </section>


<section class="section is-small">
    <h2 class="subtitle"> <span class="has-text-primary-dark"><b>Birth Name</b>:</span> {{person.birth_name}}</h2>
    {% if person.height %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Height</b>:</span> {{person.height}} cm</h2> {% endif %}
    {% if person.date_of_birth %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Date of Birth</b>:</span> {{person.date_of_birth}}</h2>{% endif %}
    {% if person.place_of_birth %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Place of Birth</b>:</span> {{person.place_of_birth}}</h2>{% endif %}
    {% if person.date_of_death %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Date of Death</b>:</span> {{person.date_of_death}}</h2>{% endif %}
    {% if person.place_of_death %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Place of Death</b>:</span> {{person.place_of_death}}</h2>{% endif %}
    {% if person.bio %}<h2 class="subtitle"> <span class="has-text-primary-dark"><b>Bio</b>:</span> {{person.bio}}</h2>{% endif %}

    {% if current_user.is_admin %}
    <h2 class="subtitle">
      <a class="button is-warning is-dark" href="{{ url_for('update_height_page', imdb_name_id = person.imdb_name_id) }}">
          <strong>Update Height</strong>
      </a>
    </h2>
    <h2 class="subtitle">
      <a class="button is-danger is-dark" href="{{ url_for('delete_person_page', imdb_name_id = person.imdb_name_id) }}">
          <strong>Delete Person</strong>
      </a>
    </h2>
    {% endif %}
</section>

{% endif%}
{% endblock %}