{% extends "layout.html" %}
{% block title %}Search Results{% endblock %}
{% block content %}




<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-info-dark">Movies</h1>
    </div>
  </div>
</section>

{% if movies %}

{% for movie in movies %}
<section class="section is-small has-text-centered">
  <a href="{{ url_for('movie_new', imdb_id=movie.imdb_title_id) }}"><h1 class="title has-text-primary-dark">{{movie.original_title}}</h1></a>
  {% if current_user.is_admin %}
  <h2 class="subtitle has-text-danger"> Movie ID: {{movie.imdb_title_id}}</h2>
  {% endif %}
  <h2 class="subtitle"> {{movie.year}}, directed by <b>{{movie.director}}</b></h2>
</section>

<hr>
{% endfor %}

{% endif %}

{% endblock %}