{% extends "layout.html" %}
{% block title %}Edit movie{% endblock %}
{% block content %}
    <h1 class="title  has-text-info-dark">Edit {{movie.original_title}}'s Average Vote</h1>

    <form action="" method="post" name="update_avg_vote">
      

      <div class="field">
        <label for="avg_vote" class="label">Average Vote</label>
        <div class="control">
          <input type="number" name="avg_vote" class="input" step="0.1"/>
        </div>
        {% if 'avg_vote' in values.errors %}
        <p class="help has-background-warning">
            {{ values.errors['avg_vote'] }}
        </p>
        {% endif %}
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-medium">Update</button>
        </div>
      </div>
    </form>
{% endblock %}