{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-info-dark">Users</h1>
    </div>
  </div>
</section>

{% if contents %}

<div class="columns is-gapless is-multiline">

{% for content in contents %}
<div class="column is-4">

<section class="section is-small">

<div class="card is-small has-background-success-light">
  <div class="card-image">
    <figure class="image is-96x96">
      <img class="is-rounded" src="{{ content[1] }}" alt="Placeholder image">
    </figure>
  </div>
  <br>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{content[0].username}}</p>
      </div>
    </div>
  </div>

    <div class="content">
      {{content[0].bio}}
      <br>
    </div>
</div>

</section>

</div>




{% endfor %}

</div>
{% endif %}


{% endblock %}